# --- Librerías base ---
python-dotenv
requests
pandas
numpy
matplotlib
seaborn
ipykernel
scipy
# --- Machine Learning / Predicción ---
scikit-learn
prophet
statsmodels
torch 
torchvision 
torchaudio
joblib
# --- Backend / API ---
fastapi
uvicorn
pydantic
SQLAlchemy

streamlit
plotly

# --- Control de versiones y pruebas (opcional) ---
pytest
black
