python-dotenv
requests
pandas
numpy
matplotlib
seaborn
ipykernel
scipy
scikit-learn
prophet
statsmodels
torch
torchvision
torchaudio
joblib
fastapi
uvicorn[standard]
pydantic
SQLAlchemy
streamlit
plotly
pytest
black
